DATABASE_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.eaoaapefpuuhvaihhjgg.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:YOUR_DATABASE_PASSWORD@db.eaoaapefpuuhvaihhjgg.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://eaoaapefpuuhvaihhjgg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"
DEFAULT_ADMIN_EMAIL="admin@robuverse.in"
